In [80]:
import re

In [81]:
res = []

In [82]:
with open("comic_books.txt", "a") as f:
    # f.write("3 GEEKS: SLAB MADNESS (2008)" + "\t" + "2" + "\t" + "-" + "\t" + "-" + "\t" + "-" + "\t" + "-" + "\t" +  "-" + "\t" + "125.00" + "\t" + "CGC Comics" + "\n")
    f.write("1 WORLD MANGA (2005)" + "\t" + "1" + "\t" + "-" + "\t" + "-" + "\t" + "27.00" + "\t" + "-" + "\t" +  "-" + "\t" + "53.00" + "\t" + "Viz Comics" + "\n")
    f.write("1001 NIGHTS OF BACCHUS (1993)" + "\t" + "1" + "\t" + "37.00" + "\t" + "56.00" + "\t" + "88.00" + "\t" + "109.00" + "\t" +  "-" + "\t" + "125.00" + "\t" + "Dark Horse Comics" + "\n")
    f.write("1963 (IMAGE) (1993)" + "\t" + "1" + "\t" + "3.00" + "\t" + "4.00" + "\t" + "5.00" + "\t" + "7.50" + "\t" +  "11.50" + "\t" + "15.00" + "\t" + "Image Comics" + "\n")
    f.write("21 (IMAGE TOP COW) (1996)" + "\t" + "1" + "\t" + "-" + "\t" + "5.25" + "\t" + "8.00" + "\t" + "13.50" + "\t" +  "16.50" + "\t" + "20.00" + "\t" + "Image Top Cow" + "\n")

In [83]:
# Get publishers
publishers = set()
with open("./comic_books.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        info = line.strip().split("\t")
        publisher = info[-1]
        publishers.add(publisher)

print(publishers)

{'Marvel Comics', 'DC Comics', 'Dark Horse Comics', 'Image Top Cow', 'Viz Comics', 'Image Comics'}

In [84]:
publishers_set = {
    "Marvel Comics",
    "Image Top Cow",
    "Image Comics",
    "DC Comics",
    "CGC Comics",
    "Viz Comics",
    "Dark Horse Comics"
}

In [85]:
other_info = []

Avengers = {
    "title": "Avenger",
    "publisher": "Marvel Comics",
    "genre": "Avengers",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"]
    },
    "characters": [
        "Captain America",
        "Iron Man",
        "Thor",
        "Captain Marvel",
        "King Namor",
        "Echo/Phoenix",
        "Blade",
        "Valkyrie",
        "Ghost Rider",
        "Starbrand (Selby)",
        "Nighthawk (Simulacrum)",
        "Doctor Strange"
    ]
}

other_info.append(Avengers)

Avengers_Academy = {
    "title": "Avengers Academy",
    "publisher": "Marvel Comics",
    "genre": "Avengers",
    "creators": {
        "writer": ["Christos Gage"],
        "artist": ["Mike McKone"],
        "lettere":	["Clayton Cowles"],
        "colorist": ["Jeromy Cox"],
        "editor": ["Rachel Pinnelas", "Joe Quesada", "Bill Rosemann"],
    },
    "characters": [
       "Giant-Man",
       "Tigra",
       "Quicksilver"
    ]
}

other_info.append(Avengers_Academy)

captain_america = {
    "title": "Captain America",
    "publisher": "Marvel Comics",
    "genre": "Captain America",
    "creators": {
        "creator": ["Joe Simon", "Jack Kirby"]
    },
    "characters": [
        "Captain America"
    ]
}

other_info.append(captain_america)

daredevil = {
    "title": "DareDevil",
    "publisher": "Marvel Comics",
    "genre": "DareDevil",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Bill Everett"]
    },
    "characters": [
        "Avengers",
        "Defenders",
        "Marvel Knights",
        "The Chaste",
        "The Hand"
    ]
}
other_info.append(daredevil)

fantastic_four = {
    "title": "Fantastic Four",
    "publisher": "Marvel Comics",
    "genre": "Fantastic Four",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"]
    },
    "characters": [
        "Mister Fantastic",
        "Invisible Woman",
        "Human Torch",
        "The Thing"
    ]
}
other_info.append(fantastic_four)

ironman = {
    "title": "Iron Man",
    "publisher": "Marvel Comics",
    "genre": "Iron Man",
    "creators": {
        "creator": [
            "Stan Lee",
            "Larry Lieber",
            "Don Heck",
            "Jack Kirby",
            "Steve Ditko"
        ]
    },
    "characters": [
        "Iron Man"
        "Amanda Armstrong",
        "Arno Stark",
        "Edwin Jarvis",
        "Howard Stark",
        "Maria Stark",
        "Morgan Stark",
        "Mephisto"
    ]
}
other_info.append(ironman)

spiderman = {
    "title": "Spider Man",
    "publisher": "Marvel Comics",
    "genre": "Spider Man",
    "creators": {
        "creator": [
            "Stan Lee",
            "Steve Ditko"
        ]
    },
    "characters": [
        "Spider Man"
        "Green Goblin",
        "Mary Jane Watson",
        "Edwin Jarvis",
        "Howard Stark",
        "Maria Stark",
        "Morgan Stark",
        "Mephisto"
    ]
}

thor = {
    "title": "Thor",
    "publisher": "Marvel Comics",
    "genre": "Thor",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"],
        "scripter": ["Larry Lieber"]
    },
    "characters": [
        "Odin Borson",
        "King of the Asgardians",
        "Earth Goddess Gaea"            
    ]
}
other_info.append(thor)

xmen = {
    "title": "The X-Men",
    "publisher": "Marvel Comics",
    "genre": "X-Men",
    "creators": {
        "artist": ["Jack Kirby"],
        "writer": ["Stan Lee"]
    },
    "characters" : [
        "X-Men"
        "Professor X",
        "Cyclops",
        "Iceman",
        "Beast"
    ]
}
other_info.append(xmen)


first_appearance = {
    "Avengers": "The Avengers #1",
    "Captain America": "Captain America Comics #1",
    "Daredevil": "Daredevil #1",
    "Fantastic Four": "The Fantastic Four #1",
    "Iron Man": "Tales of Suspense #39",
    "Spider Man": "Amazing Fantasy #15",
    "X-Men": "The X-Men #1"
}

batman = {
    "title": "Batman",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "writer": ["Bill Finger", "Scott Snyder", "Tom King"],
        "penciller": ["Bob Kane", "Greg Capullo", "David Finch"],
        "inker": ["Jerry Robinson", "Jonathan Glapion", "Danny Miki"],
        "colourist": ["Adrienne Roy", "FCO Plascencia", "Jordie Bellaire"]
    },
    "characters": [
        "Batman",
        "Alfred Thaddeus Crane Pennyworth",
        "Jason Peter Todd",
        "Catwoman",
        "Julia Pennyworth",
        "Jean-Paul Valley Jr.",
        "Huntress",
        "Harley Quinn",
        "Stephanie Brown "
    ]
}

other_info.append(batman)

first_appearance["Batman"] = "Detective Comics #27"

flash = {
    "title": "The Flash",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["John Broome", "Carmine Infantino"],
        "writer": ["John Broome", "Mike Baron", "Geoff Johns", "Francis Manapul", "Joshua Williamson"],
        "penciller": ["Carmine Infantino", "Jackson Guice", "Francis Manapul", "Francis Manapul"],
        "inker": ["Joe Giella", "Larry Mahlstedt", "Norm Rapmund"],
    },
    "characters": [
        "The Flash"
        "Jay Garrick",
        "Barry Allen",
        "Wally West",
        "Bart Allen"
    ]
}

other_info.append(flash)

first_appearance["The Flash"] = "Flash Comics #1"

green_lantern = {
    "title": "Green Lantern",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Bill Finger", "Martin Nodell"],
        "writer": ["Bill Finger", "John Broome", "Gerard Jones", "Geoff Johns", "Geoffrey Thorne"],
        "penciller": ["Martin Nodell", "Gil Kane", "Pat Broderick", "Carlos Pacheco", "Doug Mahnke"],
        "inker": ["Bob Oksner", "Joe Giella", "Romeo Tanghal", "Jesus Merino"],
    },
    "characters": [
        "Green Lantern"
        "Alan Scott",
        "Hal Jordan",
        "Guy Gardner",
        "John Stewart",
        "Kyle Rayner",
        "Simon Baz",
        "Jessica Cruz",
        "Sojourner Mullein"
    ]
}

other_info.append(green_lantern)

first_appearance["Green Latern"] = "All-American Comics #16"

justice_league = {
    "title": "Justice League",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Bill Finger", "Martin Nodell"],
        "writer": ["Bill Finger", "John Broome", "Gerard Jones", "Geoff Johns", "Geoffrey Thorne"],
        "penciller": ["Martin Nodell", "Gil Kane", "Pat Broderick", "Carlos Pacheco", "Doug Mahnke"],
        "inker": ["Bob Oksner", "Joe Giella", "Romeo Tanghal", "Jesus Merino"],
    },
    "characters": [
        "Superman",
        "Batman",
        "Wonder Woman",
        "The Flash",
        "Green Lantern",
        "Aquaman",
        "Green Arrow",
        "Hawkman"
    ]
}

other_info.append(justice_league)

first_appearance["Justice League"] = "The Brave and the Bold #28"

superman = {
    "title": "Superman",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Jerry Siegel", "Joe Shuster"],
        "writer": ["Cary Bates", "Keith Giffen", "Peter J. Tomasi", "Brian Michael Bendis"],
        "penciller": ["Joe Shuster", "Kenneth Rocafort", "Patrick Gleason", "Ivan Reis"],
        "inker": ["George Klein", "Klaus Janson"],
    },
    "characters": [
        "Superman",
        "Lois Lane",
        "Jimmy Olsen",
        "Lex Luthor"
    ]
}

other_info.append(superman)

first_appearance["Superman"] = "Action Comics #1"

In [86]:
# TABLE comic_quality

res.append("# TABLE comic_quality")
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("MINT", 9.9, 10.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("NEAR MINT/MINT", 9.8, 10.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("NEAR MINT", 9.2, 9.7);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY FINE/NEAR MINT", 9.0, 9.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY FINE", 7.5, 8.5);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FINE/VERY FINE", 7.0, 7.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FINE", 5.5, 6.5);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY GOOD/FINE", 5.0, 5.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY GOOD", 3.5, 4.5);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("GOOD/VERY GOOD", 3.0, 3.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("GOOD", 1.8, 2.5);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FAIR/GOOD", 1.5, 1.5);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FAIR", 1.0, 1.0);')
res.append('INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("POOR", 0.5, 0.5);')

In [87]:
# TABLE publisher
publishers_array = [
    "Marvel Comics",
    "Image Top Cow",
    "Image Comics",
    "DC Comics",
    "CGC Comics",
    "Viz Comics",
    "Dark Horse Comics"
]

publishers_array = sorted(publishers_array)

for publisher in publishers_array:
    res.append('INSERT INTO publisher (publisher) VALUES ("{}");'.format(publisher))

In [88]:
# TABLE title
tb_title_set = set()

title_publisher = {}
with open("./comic_books.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        info = line.strip().split("\t")
        title = info[0].strip()
        publisher = info[-1].strip()
        title_publisher[title] = publisher
        tb_title_set.add(title)
        
with open("./graphic_novels.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        info = line.strip().split("@@@")
        title = info[0].strip()
        publisher = info[-1].strip()
        title_publisher[title] = publisher
        tb_title_set.add(title)
        

tb_title_map = {}
id = 1
for title, publisher in title_publisher.items():
    res.append('INSERT INTO title (title, publisher) VALUES ("{}", "{}");'.format(title, publisher))
    tb_title_map[title] = id
    id+=1

In [89]:
#TABLE special
res.append('INSERT INTO special (special) VALUES ("None");')
res.append('INSERT INTO special (special) VALUES ("Super Bargains");')
res.append('INSERT INTO special (special) VALUES ("Weekly Specials");')

In [90]:
# TABLE comic_book and comic_book_price
res.append("# TABLE comic_book and comic_book_price")
comic_quality = [
    {'symbol': 'MINT', 'min_grade': 9.9, 'max_grade': 10.0},
    {'symbol': 'NEAR MINT/MINT', 'min_grade': 9.8, 'max_grade': 10.0},
    {'symbol': 'NEAR MINT', 'min_grade': 9.2, 'max_grade': 9.7},
    {'symbol': 'VERY FINE/NEAR MINT', 'min_grade': 9.0, 'max_grade': 9.0},
    {'symbol': 'VERY FINE', 'min_grade': 7.5, 'max_grade': 8.5},
    {'symbol': 'FINE/VERY FINE', 'min_grade': 7.0, 'max_grade': 7.0},
    {'symbol': 'FINE', 'min_grade': 5.5, 'max_grade': 6.5},
    {'symbol': 'VERY GOOD/FINE', 'min_grade': 5.0, 'max_grade': 5.0},
    {'symbol': 'VERY GOOD', 'min_grade': 3.5, 'max_grade': 4.5},
    {'symbol': 'GOOD/VERY GOOD', 'min_grade': 3.0, 'max_grade': 3.0},
    {'symbol': 'GOOD', 'min_grade': 1.8, 'max_grade': 2.5},
    {'symbol': 'FAIR/GOOD', 'min_grade': 1.5, 'max_grade': 1.5},
    {'symbol': 'FAIR', 'min_grade': 1.0, 'max_grade': 1.0},
    {'symbol': 'POOR', 'min_grade': 0.5, 'max_grade': 0.5}
]
import random

def get_symbol_by_grade(grade):
    if grade >= 9.9:
        return "MINT"
    elif grade >= 9.8:
        return "NEAR MINT/MINT"
    elif grade >= 9.2:
        return "NEAR MINT"
    elif grade >= 9.0:
        return "VERY FINE/NEAR MINT"
    elif grade >= 7.5:
        return "VERY FINE"
    elif grade >= 7.0:
        return "FINE/VERY FINE"
    elif grade >= 5.5:
        return "FINE"
    elif grade >= 5.0:
        return "VERY GOOD/FINE"
    elif grade >= 3.5:
        return "VERY GOOD"
    elif grade >= 3.0:
        return "GOOD/VERY GOOD"
    elif grade >= 1.8:
        return "GOOD"
    elif grade >= 1.5:
        return "FAIR/GOOD"
    elif grade >= 1.0:
        return "FAIR"
    else:
        return "POOR"
        
def generate_random_grade_by_symbol(symbol):
    for row in comic_quality:
        if row['symbol'] == symbol:
            return round(random.uniform(row['min_grade'], row['max_grade']), 1)

id = 1
with open("./comic_books.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        infos = line.strip().split("\t")
        title = infos[0].strip()
        if title not in tb_title_map:
            print("Cannot find title in tb_title_map", title)
            continue
        title_id = tb_title_map[title]
        issue = infos[1]
        
        match = re.search(r'\b\d{4}\b', title)
        if not match:
            continue
        year = match.group()

        
        fair_price = infos[2]
        if fair_price != "-":
            grade = generate_random_grade_by_symbol("FAIR")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "FAIR", 0, NULL, {}, {}, "None", {});'.format(id, float(fair_price) * 0.7, fair_price, fair_price))
            id = id + 1
        
        good_price = infos[3]
        if good_price != "-":
            grade = generate_random_grade_by_symbol("GOOD")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "GOOD", 0, NULL, {}, {}, "None", {});'.format(id, float(good_price) * 0.7, good_price, good_price))
            id = id + 1
            
        very_good_price = infos[4]
        if very_good_price != "-":
            grade = generate_random_grade_by_symbol("VERY GOOD")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "VERY GOOD", 0, NULL, {}, {}, "None", {});'.format(id, float(very_good_price) * 0.7, very_good_price, very_good_price))
            id = id + 1
        
        fine_price = infos[5]
        if fine_price != "-":
            grade = generate_random_grade_by_symbol("FINE")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "FINE", 0, NULL, {}, {}, "None", {});'.format(id, float(fine_price) * 0.7, fine_price, fine_price))
            id = id + 1
            
        very_fine_price = infos[6]
        if very_fine_price != "-":
            grade = generate_random_grade_by_symbol("VERY FINE")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "VERY FINE", 0, NULL, {}, {}, "None", {});'.format(id, float(very_fine_price) * 0.7, very_fine_price, very_fine_price))
            id = id + 1
        
        near_mint_price = infos[7]
        if near_mint_price != "-":
            grade = generate_random_grade_by_symbol("NEAR MINT")
            res.append('INSERT INTO comic_book (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "NEAR MINT", 0, NULL, {}, {}, "None", {});'.format(id, float(near_mint_price) * 0.7, near_mint_price, near_mint_price))
            id = id + 1

# TABLE graphic_novel and graphic_novel_price
res.append("# TABLE graphic_novel and graphic_novel_price")
id = 1 
with open("./graphic_novels.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        infos = line.strip().split("@@@")
        title = infos[0].strip()
        if title not in tb_title_map:
            print("Cannot find title in tb_title_map", title)
            continue
        title_id = tb_title_map[title]
        year = infos[1]
        issue = infos[2]
        
        fair_price = infos[3]
        if fair_price != "-":
            grade = generate_random_grade_by_symbol("FAIR")
            res.append('INSERT INTO graphic_novel (title_id, edition, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "FAIR", 0, NULL, {}, {}, "None", {});'.format(id, float(fair_price) * 0.7, fair_price, fair_price))
            id = id + 1
        
        good_price = infos[4]
        if good_price != "-":
            grade = generate_random_grade_by_symbol("GOOD")
            res.append('INSERT INTO graphic_novel (title_id, edition, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "GOOD", 0, NULL, {}, {}, "None", {});'.format(id, float(good_price) * 0.7, good_price, good_price))
            id = id + 1
            
        very_good_price = infos[5]
        if very_good_price != "-":
            grade = generate_random_grade_by_symbol("VERY GOOD")
            res.append('INSERT INTO graphic_novel (title_id, edition, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "VERY GOOD", 0, NULL, {}, {}, "None", {});'.format(id, float(very_good_price) * 0.7, very_good_price, very_good_price))
            id = id + 1
        
        fine_price = infos[6]
        if fine_price != "-":
            grade = generate_random_grade_by_symbol("FINE")
            res.append('INSERT INTO graphic_novel (title_id, issue, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "FINE", 0, NULL, {}, {}, "None", {});'.format(id, float(fine_price) * 0.7, fine_price, fine_price))
            id = id + 1
            
        very_fine_price = infos[7]
        if very_fine_price != "-":
            grade = generate_random_grade_by_symbol("VERY FINE")
            res.append('INSERT INTO graphic_novel (title_id, edition, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "VERY FINE", 0, NULL, {}, {}, "None", {});'.format(id, float(very_fine_price) * 0.7, very_fine_price, very_fine_price))
            id = id + 1
        
        near_mint_price = infos[8]
        if near_mint_price != "-":
            grade = generate_random_grade_by_symbol("NEAR MINT")
            res.append('INSERT INTO graphic_novel (title_id, edition, year, grade) VALUES ({}, {}, {}, {});'.format(title_id, issue, year, grade))
            res.append('INSERT INTO graphic_novel_price (graphic_novel_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES ({}, "NEAR MINT", 0, NULL, {}, {}, "None", {});'.format(id, float(near_mint_price) * 0.7, near_mint_price, near_mint_price))
            id = id + 1

In [91]:
# TABLE character_info
res.append("# TABLE character_info")
tb_character_info = {}

character_name_set = set()
for info in other_info:
    for character_name in info["characters"]:
        character_name_set.add(character_name)
character_name_set = sorted(character_name_set)

for i in range(0, len(character_name_set)):
    index = i + 1
    character_name = character_name_set[i]
    tb_character_info[character_name] = index
    res.append('INSERT INTO character_info (character_name) VALUES ("{}");'.format(character_name))

In [92]:
# first_appearance
res.append("# first_appearance")
for character_name, book in first_appearance.items():
    if character_name not in tb_character_info:
        continue
    character_id = tb_character_info[character_name]
    
    infos = book.strip().split('#')
    title = infos[0].strip()
    issue = infos[1].strip()
    
    res.append('INSERT INTO first_appearance (character_id, title, issue) VALUES ({}, "{}", {});'.format(character_id, title, issue))

res.append('INSERT INTO first_appearance (character_id, title, issue) VALUES (69, "X-Men", 1);')
res.append('INSERT INTO first_appearance (character_id, title, issue) VALUES (26, "The Batman Adventures", 12);')
res.append('INSERT INTO first_appearance (character_id, title, issue) VALUES (27, "Flash Comics", 1);')
res.append('INSERT INTO first_appearance (character_id, title, issue) VALUES (15, "Strange Tales", 110);')

In [93]:
# TABLE relation_comic_book_character
res.append("# TABLE relation_comic_book_character")
for title in tb_title_set:
    title_id = tb_title_map[title]
    for info in other_info:
        if info["title"].lower() in title.lower():
            for character_name in info["characters"]:
                if character_name not in tb_character_info:
                    continue
                character_id = tb_character_info[character_name]
                res.append('INSERT INTO relation_comic_character (title_id, character_id) VALUES ({}, {});'.format(title_id, character_id))

In [94]:
comic_info = {}

comic_info["Avenger"] = {
    "title": "Avenger",
    "publisher": "Marvel Comics",
    "genre": "Avengers",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"]
    },
    "characters": [
        "Captain America",
        "Iron Man",
        "Thor",
        "Captain Marvel",
        "King Namor",
        "Echo/Phoenix",
        "Blade",
        "Valkyrie",
        "Ghost Rider",
        "Starbrand (Selby)",
        "Nighthawk (Simulacrum)",
        "Doctor Strange"
    ]
}

comic_info["Captain America"] = {
    "title": "Captain America",
    "publisher": "Marvel Comics",
    "genre": "Captain America",
    "creators": {
        "creator": ["Joe Simon", "Jack Kirby"]
    },
    "characters": [
        "Captain America"
    ]
}


comic_info["DareDevil"] = {
    "title": "DareDevil",
    "publisher": "Marvel Comics",
    "genre": "DareDevil",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Bill Everett"]
    },
    "characters": [
        "Avengers",
        "Defenders",
        "Marvel Knights",
        "The Chaste",
        "The Hand"
    ]
}

comic_info["Fantastic Four"] = {
    "title": "Fantastic Four",
    "publisher": "Marvel Comics",
    "genre": "Fantastic Four",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"]
    },
    "characters": [
        "Mister Fantastic",
        "Invisible Woman",
        "Human Torch",
        "The Thing"
    ]
}

comic_info["Iron Man"] = {
    "title": "Iron Man",
    "publisher": "Marvel Comics",
    "genre": "Iron Man",
    "creators": {
        "creator": [
            "Stan Lee",
            "Larry Lieber",
            "Don Heck",
            "Jack Kirby",
            "Steve Ditko"
        ]
    },
    "characters": [
        "Iron Man"
        "Amanda Armstrong",
        "Arno Stark",
        "Edwin Jarvis",
        "Howard Stark",
        "Maria Stark",
        "Morgan Stark",
        "Mephisto"
    ]
}

comic_info["Spider Man"] = {
    "title": "Spider Man",
    "publisher": "Marvel Comics",
    "genre": "Spider Man",
    "creators": {
        "creator": [
            "Stan Lee",
            "Steve Ditko"
        ]
    },
    "characters": [
        "Spider Man"
        "Green Goblin",
        "Mary Jane Watson",
        "Edwin Jarvis",
        "Howard Stark",
        "Maria Stark",
        "Morgan Stark",
        "Mephisto"
    ]
}

comic_info["Thor"] = {
    "title": "Thor",
    "publisher": "Marvel Comics",
    "genre": "Thor",
    "creators": {
        "writer": ["Stan Lee"],
        "artist": ["Jack Kirby"],
        "scripter": ["Larry Lieber"]
    },
    "characters": [
        "Thor"
        "Odin Borson",
        "King of the Asgardians",
        "Earth Goddess Gaea"            
    ]
}
other_info.append(thor)

comic_info["The X-Men"] = {
    "title": "The X-Men",
    "publisher": "Marvel Comics",
    "genre": "X-Men",
    "creators": {
        "artist": ["Jack Kirby"],
        "writer": ["Stan Lee"]
    },
    "characters" : [
        "X-Men"
        "Professor X",
        "Cyclops",
        "Iceman",
        "Beast"
    ]
}

comic_info["X-Men"] = {
    "title": "The X-Men",
    "publisher": "Marvel Comics",
    "genre": "X-Men",
    "creators": {
        "artist": ["Jack Kirby"],
        "writer": ["Stan Lee"]
    },
    "characters" : [
        "X-Men"
        "Professor X",
        "Cyclops",
        "Iceman",
        "Beast"
    ]
}

comic_info["Batman"] = {
    "title": "Batman",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "writer": ["Bill Finger", "Scott Snyder", "Tom King"],
        "penciller": ["Bob Kane", "Greg Capullo", "David Finch"],
        "inker": ["Jerry Robinson", "Jonathan Glapion", "Danny Miki"],
        "colourist": ["Adrienne Roy", "FCO Plascencia", "Jordie Bellaire"]
    },
    "characters": [
        "Batman",
        "Alfred Thaddeus Crane Pennyworth",
        "Jason Peter Todd",
        "Catwoman",
        "Julia Pennyworth",
        "Jean-Paul Valley Jr.",
        "Huntress",
        "Harley Quinn",
        "Stephanie Brown "
    ]
}

comic_info["Flash"] = {
    "title": "The Flash",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["John Broome", "Carmine Infantino"],
        "writer": ["John Broome", "Mike Baron", "Geoff Johns", "Francis Manapul", "Joshua Williamson"],
        "penciller": ["Carmine Infantino", "Jackson Guice", "Francis Manapul", "Francis Manapul"],
        "inker": ["Joe Giella", "Larry Mahlstedt", "Norm Rapmund"],
    },
    "characters": [
        "The Flash"
        "Jay Garrick",
        "Barry Allen",
        "Wally West",
        "Bart Allen"
    ]
}

comic_info["The Flash"] = {
    "title": "The Flash",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["John Broome", "Carmine Infantino"],
        "writer": ["John Broome", "Mike Baron", "Geoff Johns", "Francis Manapul", "Joshua Williamson"],
        "penciller": ["Carmine Infantino", "Jackson Guice", "Francis Manapul", "Francis Manapul"],
        "inker": ["Joe Giella", "Larry Mahlstedt", "Norm Rapmund"],
    },
    "characters": [
        "The Flash"
        "Jay Garrick",
        "Barry Allen",
        "Wally West",
        "Bart Allen"
    ]
}

comic_info["Green Lantern"] = {
    "title": "Green Lantern",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Bill Finger", "Martin Nodell"],
        "writer": ["Bill Finger", "John Broome", "Gerard Jones", "Geoff Johns", "Geoffrey Thorne"],
        "penciller": ["Martin Nodell", "Gil Kane", "Pat Broderick", "Carlos Pacheco", "Doug Mahnke"],
        "inker": ["Bob Oksner", "Joe Giella", "Romeo Tanghal", "Jesus Merino"],
    },
    "characters": [
        "Green Lantern"
        "Alan Scott",
        "Hal Jordan",
        "Guy Gardner",
        "John Stewart",
        "Kyle Rayner",
        "Simon Baz",
        "Jessica Cruz",
        "Sojourner Mullein"
    ]
}


comic_info["Justice League"] = {
    "title": "Justice League",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Bill Finger", "Martin Nodell"],
        "writer": ["Bill Finger", "John Broome", "Gerard Jones", "Geoff Johns", "Geoffrey Thorne"],
        "penciller": ["Martin Nodell", "Gil Kane", "Pat Broderick", "Carlos Pacheco", "Doug Mahnke"],
        "inker": ["Bob Oksner", "Joe Giella", "Romeo Tanghal", "Jesus Merino"],
    },
    "characters": [
        "Superman",
        "Batman",
        "Wonder Woman",
        "The Flash",
        "Green Lantern",
        "Aquaman",
        "Green Arrow",
        "Hawkman"
    ]
}

comic_info["Superman"] = {
    "title": "Superman",
    "publisher": "DC Comics",
    "genre": "Superhero",
    "creators": {
        "creator": ["Jerry Siegel", "Joe Shuster"],
        "writer": ["Cary Bates", "Keith Giffen", "Peter J. Tomasi", "Brian Michael Bendis"],
        "penciller": ["Joe Shuster", "Kenneth Rocafort", "Patrick Gleason", "Ivan Reis"],
        "inker": ["George Klein", "Klaus Janson"],
    },
    "characters": [
        "Superman",
        "Lois Lane",
        "Jimmy Olsen",
        "Lex Luthor"
    ]
}

In [95]:
# TABLE author_info
res.append("# TABLE author_info")
tb_authors = {}

dup = set()
id = 1
for key, value in comic_info.items():
    for author_type, authors in value["creators"].items():
        for author in authors:
            dup.add('INSERT INTO author_info (author_name, author_type) VALUES ("{}", "{}");'.format(author, author_type))
            if "%s,%s" % (author, author_type) in tb_authors:
                continue
            tb_authors["%s,%s" % (author, author_type)] = id
            id+=1
for ele in dup:
    res.append(ele)


# TABLE relation_comic_author
remove_duplicate = set()
for title in tb_title_set:
    title_id = tb_title_map[title]
    for key, info in comic_info.items():
        if info["title"].lower() in title.lower():
            for author_type, authors in info["creators"].items():
                for author in authors:
                    if "%s,%s" % (author, author_type) not in tb_authors:
                        continue
                    id = tb_authors["%s,%s" % (author, author_type)]
                    remove_duplicate.add('INSERT INTO relation_comic_author (title_id, author_id) VALUES ({}, {});'.format(title_id, id))

for ele in remove_duplicate:
    res.append(ele)

In [96]:
for r in res:
    print(r)

# TABLE comic_quality
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("MINT", 9.9, 10.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("NEAR MINT/MINT", 9.8, 10.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("NEAR MINT", 9.2, 9.7);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY FINE/NEAR MINT", 9.0, 9.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY FINE", 7.5, 8.5);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FINE/VERY FINE", 7.0, 7.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FINE", 5.5, 6.5);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY GOOD/FINE", 5.0, 5.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("VERY GOOD", 3.5, 4.5);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("GOOD/VERY GOOD", 3.0, 3.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("GOOD", 1.8, 2.5);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FAIR/GOOD", 1.5, 1.5);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("FAIR", 1.0, 1.0);
INSERT INTO comic_quality (symbol, min_grade, max_grade) VALUES ("POOR", 0.5, 0.5);
INSERT INTO publisher (publisher) VALUES ("CGC Comics");
INSERT INTO publisher (publisher) VALUES ("DC Comics");
INSERT INTO publisher (publisher) VALUES ("Dark Horse Comics");
INSERT INTO publisher (publisher) VALUES ("Image Comics");
INSERT INTO publisher (publisher) VALUES ("Image Top Cow");
INSERT INTO publisher (publisher) VALUES ("Marvel Comics");
INSERT INTO publisher (publisher) VALUES ("Viz Comics");
INSERT INTO title (title, publisher) VALUES ("AVENGERS (1963) (#1-402) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AVENGERS (2010) (#1-34) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AVENGERS, THOR, & CAPTAIN AMERICA: OFFICIAL INDEX (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("CAPTAIN AMERICA (1968) (#100-454) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("DAREDEVIL (1964) (#1-380) (MAN WITHOUT FEAR) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("BEFORE THE FANTASTIC FOUR: BEN GRIMM AND LOGAN (2000)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("BEFORE THE FANTASTIC FOUR: REED RICHARDS (2000)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("BEFORE THE FANTASTIC FOUR: THE STORMS (2000)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL FANTASTIC FOUR TPB (1998)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("FANTASTIC FOUR (1961) (#1-416) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL IRON MAN TPB (2000)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL IRON MAN TPB (2ND EDITION) (2005)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL IRON MAN TPB (3RD EDITION) (2008)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("HULK (1962) (#1-6, #102-474, #600-635)(INCREDIBLE)(MV)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("INVINCIBLE IRON MAN (2008) (#1-33 & 500-527) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("IRON MAN (1968) (#1-332) (INVINCIBLE IRON MAN)(MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ADVENTURES OF SPIDER-MAN (1996)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ADVENTURES OF THE X-MEN (1996)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN (2014) (#1-20.1) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN (2015) (#1-32) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN (2018) (#1-93) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN 500 COVERS HC (2004)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN ANNUAL (2008)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN COLLECTED EDITION (2001)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN FREE COMIC BOOK DAY (2018)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN MOVIE ADAPTATION (2014)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN PRESENTS AMERICAN SON (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AMAZING SPIDER-MAN PRESENTS BLACK CAT (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING SPIDER-MAN/WOLVERINE (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AVENGING SPIDER-MAN (2011)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("AVENGING SPIDER-MAN: MY FRIENDS PREMIERE HC (2012)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("BACKPACK MARVELS SPIDER-MAN: MURDER BY SPIDER TPB (2000)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("DEADLY FOES OF SPIDER-MAN (1991)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("DEADLY FOES OF SPIDER-MAN TPB (1993)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("EDGE OF SPIDER-VERSE (2014)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL SPIDER-MAN TPB (1996)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ESSENTIAL SPIDER-MAN TPB (2ND EDITION) (2005)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("MARVEL AGE SPIDER-MAN (2004)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("KING THOR (2019)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("MIGHTY THOR (2011) (#1-23) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("MIGHTY THOR (2015) (#1-23) (FEMALE THOR) (JANE FOSTER)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("THOR (1962) (#83-125 JOURNEY INTO MYSTERY, 126-502)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ALL-NEW X-MEN (2012) (#1-41)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN (1996) (#1-4) (AGE OF APOCALYPSE)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN (1999) (#1-3) (MARVEL)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN (2004) (#1-68) (MARVEL)(JOSS WHEDON)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN ANNUAL (2012)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN SAGA (JOSS WHEDON) (2005)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN VOL. 1: GIFTED HC (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN VOL. 1: GIFTED TPB (2004)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN VOL. 2: DANGEROUS TPB (2005)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN VOL. 3: TORN TPB (2006)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN VOL. 4: UNSTOPPABLE TPB (2008)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: CHILDREN OF BROOD PREMIERE HC (2012)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: EXALTED HC (2012)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: EXOGENETIC PREMIERE HC (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: GHOST BOX HC (2009)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: MONSTROUS PREMIERE HC (2011)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: XENOGENESIS (WARREN ELLIS) (2010)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ASTONISHING X-MEN: XENOGENESIS HC (WARREN ELLIS) (2011)", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("ALL-NEW BATMAN: BRAVE & THE BOLD (2011)", "DC Comics");
INSERT INTO title (title, publisher) VALUES ("FLASH (1959) (#105-350) (DC)", "DC Comics");
INSERT INTO title (title, publisher) VALUES ("FLASH (1987) (#0-247) (DC)", "DC Comics");
INSERT INTO title (title, publisher) VALUES ("GREEN LANTERN (1960) (#1-224) (DC)", "DC Comics");
INSERT INTO title (title, publisher) VALUES ("JLA (1996)", "Viz Comics");
INSERT INTO title (title, publisher) VALUES ("1001 NIGHTS OF BACCHUS (1993)", "Dark Horse Comics");
INSERT INTO title (title, publisher) VALUES ("1963 (IMAGE) (1993)", "Image Comics");
INSERT INTO title (title, publisher) VALUES ("21 (IMAGE TOP COW) (1996)", "Image Top Cow");
INSERT INTO title (title, publisher) VALUES ("Avengers Disassembled", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("New Avengers: Breakout", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Ultimates", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Avengers Forever", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Infinity Gauntlet", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Iron Man: Extremis", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Iron Man: The Armor Wars", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Iron Man: Demon in a Bottle", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Iron Man: The Coming of the Melter!", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Iron Man: The Iron Age", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Captain America: Winter Soldier", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Captain America: Man Out of Time", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Captain America: The Death of Captain America", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Captain America: The Captain", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Captain America: The Legacy of Captain America", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Incredible Hulk: Planet Hulk", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Incredible Hulk: The End", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Immortal Hulk", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Hulk: Gray", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Incredible Hulk: Future Imperfect", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Amazing Spider-Man: The Gauntlet", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Spider-Man: Blue", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Ultimate Spider-Man: Ultimate Collection, Vol. 1", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Spider-Man: Life Story", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Spider-Man: Kraven's Last Hunt", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Thor: God of Thunder, Vol. 1", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Mighty Thor: Walter Simonson, Vol. 1", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Thor by J. Michael Straczynski, Vol. 1", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Thor: The Dark World Prelude", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("The Unworthy Thor", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("X-Men: Grand Design", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("X-Men: Age of Apocalypse Omnibus", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Giant-Size X-Men", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("X-Men: Days of Future Past", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("X-Men: God Loves, Man Kills", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Green Lantern: Secret Origin", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Green Lantern: Earth One, Vol. 1", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Green Lantern: Rebirth", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Green Lantern Corps: Recharge", "Marvel Comics");
INSERT INTO title (title, publisher) VALUES ("Green Lantern: Emerald Twilight/New Dawn", "Marvel Comics");
INSERT INTO special (special) VALUES ("None");
INSERT INTO special (special) VALUES ("Super Bargains");
INSERT INTO special (special) VALUES ("Weekly Specials");
# TABLE comic_book and comic_book_price
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 1.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (1, "FAIR", 0, NULL, 5.6, 8.00, "None", 8.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 1.8);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (2, "GOOD", 0, NULL, 11.024999999999999, 15.75, "None", 15.75);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 4.2);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (3, "VERY GOOD", 0, NULL, 21.7, 31.00, "None", 31.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 6.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (4, "FINE", 0, NULL, 28.7, 41.00, "None", 41.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 7.7);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (5, "VERY FINE", 0, NULL, 47.599999999999994, 68.00, "None", 68.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 9.4);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (6, "NEAR MINT", 0, NULL, 67.19999999999999, 96.00, "None", 96.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 1.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (7, "FAIR", 0, NULL, 5.6, 8.00, "None", 8.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 2.4);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (8, "GOOD", 0, NULL, 11.024999999999999, 15.75, "None", 15.75);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 4.4);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (9, "VERY GOOD", 0, NULL, 21.7, 31.00, "None", 31.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 5.6);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (10, "FINE", 0, NULL, 28.7, 41.00, "None", 41.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 8.5);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (11, "VERY FINE", 0, NULL, 47.599999999999994, 68.00, "None", 68.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 9.7);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (12, "NEAR MINT", 0, NULL, 67.19999999999999, 96.00, "None", 96.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 1.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (13, "FAIR", 0, NULL, 5.6, 8.00, "None", 8.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 2.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (14, "GOOD", 0, NULL, 11.024999999999999, 15.75, "None", 15.75);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 3.7);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (15, "VERY GOOD", 0, NULL, 21.7, 31.00, "None", 31.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 6.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (16, "FINE", 0, NULL, 28.7, 41.00, "None", 41.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 7.8);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (17, "VERY FINE", 0, NULL, 47.599999999999994, 68.00, "None", 68.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 9.6);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (18, "NEAR MINT", 0, NULL, 67.19999999999999, 96.00, "None", 96.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 1.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (19, "FAIR", 0, NULL, 5.6, 8.00, "None", 8.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 2.3);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (20, "GOOD", 0, NULL, 11.024999999999999, 15.75, "None", 15.75);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 4.0);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (21, "VERY GOOD", 0, NULL, 21.7, 31.00, "None", 31.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 6.2);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (22, "FINE", 0, NULL, 28.7, 41.00, "None", 41.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 7.6);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (23, "VERY FINE", 0, NULL, 47.599999999999994, 68.00, "None", 68.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 180, 1963, 9.6);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (24, "NEAR MINT", 0, NULL, 67.19999999999999, 96.00, "None", 96.00);
INSERT INTO comic_book (title_id, issue, year, grade) VALUES (1, 111, 1963, 5.7);
INSERT INTO comic_book_price (comic_book_id, symbol, signed, collected_by, purchase_price, original_price, special, offering_price) VALUES (25, "FINE", 0, NULL, 79.8, 114.00, "None", 114.00);